:root {
    --ultraLightGreen: #D3F1E9;
    --lightGreen: #BCF3E5;
    --brightGreen: #62E6BF;
    --mediumGreen: #0DA778;
    --deepGreen: #0A7B79;
    --navyBlue: #193053;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Aclonica";
    src: url("/assets/fonts/Aclonica-Regular.ttf");
}

@font-face {
    font-family: "isl";
    src: url("/assets/fonts/IndianSignLangage.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--brightGreen);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#back-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}

h1 {
    color: var(--navyBlue);
    font-size: 2rem;
    margin-top: 1rem;
}

.wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 85%;
    max-width: 600px; /* Adjust as needed */
    padding: 1rem;
    border: 2px solid var(--navyBlue);
    border-radius: 18px;
}

.player-view {
    font-family: 'isl';
    font-size: 8rem;
}

#player-text {
    font-size: 2rem;
    margin-top: 0.5rem;
}

#text-area {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    height: 9rem;
    margin-top: 1rem;
    padding: 10px;
    border: 2px solid var(--navyBlue);
    border-radius: 18px;
    font-size: 1.52rem;
}

.message-container {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin-top: 1rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid var(--navyBlue);
    border-radius: 5rem;
}

.message-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--navyBlue);
}

.send-btn {
    padding: 10px;
    border: none;
    cursor: pointer;
    background: none;
}
